@import url("./fonts.css");

@import "tailwindcss";

/* tailwind plugins */
@plugin "@tailwindcss/forms";
@plugin "tailwindcss-animate";

/* dark mode */
@variant dark (&:where(.dark, .dark *));

/* theme definition import */
@import "./tailwind-theme.css";

/* other imports into specific layers */
@import "./aos.css" layer(utilities);
@import "./markdown-content.css" layer(components);
@import "./buttons.css" layer(components);

/* https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer */
@layer base {
	:root {
		/* starwind component variables  */
		--background: var(--color-base-100);
		--foreground: var(--color-base-900);
		--card: var(--color-base-50);
		--card-foreground: var(--color-base-950);
		--popover: var(--color-base-50);
		--popover-foreground: var(--color-base-950);
		--primary: var(--color-primary-700);
		--primary-dark: var(--color-primary-800);
		--primary-foreground: var(--color-base-50);
		--secondary: var(--foreground);
		--secondary-foreground: var(--background);
		--muted: var(--color-base-100);
		--muted-foreground: var(--color-base-600);
		--accent: var(--color-base-200);
		--accent-foreground: var(--color-base-900);
		--info: var(--color-sky-300);
		--info-foreground: var(--color-sky-950);
		--success: var(--color-green-300);
		--success-foreground: var(--color-green-950);
		--warning: var(--color-amber-300);
		--warning-foreground: var(--color-amber-950);
		--error: var(--color-red-700);
		--error-foreground: var(--color-base-50);
		--border: var(--color-base-200);
		--input: var(--color-base-100);
		--outline: var(--color-primary-700);

		--radius: 0.5rem;

		/* default font */
		font-family: var(--font-sans);
	}

	/* starwind preflight merged with Cosmic Themes */
	* {
		@apply border-border outline-none;
	}
	*:focus-visible {
		@apply ring-outline rounded-xs ring-2 outline-none;
	}
	html {
		@apply bg-background text-foreground leading-[1.6rem] scheme-light dark:scheme-dark;
		scroll-behavior: smooth;
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}
	button {
		@apply cursor-pointer;
	}
}

@layer components {
	.h1 {
		@apply text-3xl font-semibold md:text-4xl lg:text-5xl;
	}

	.h2 {
		@apply text-2xl font-semibold md:text-3xl;
	}

	.h3 {
		@apply text-lg font-semibold md:text-xl;
	}

	.description {
		@apply opacity-90 md:text-lg;
	}

	/* styles navbar links */
	.nav__link--base {
		@apply text-foreground hover:text-primary-700 leading-tight font-medium transition;
	}

	.site-container {
		@apply mx-auto max-w-6xl px-4;
	}
}

@layer utilities {
	/* used for newsletter, and contact form inputs */
	.form__input {
		@apply outline-none;
		@apply border-primary-600/40 bg-input w-full rounded-md border p-3 transition;
		@apply focus:border-primary-600 focus-visible:ring-primary-600 focus-visible:ring-2;
	}

	/* focus utility class (for when user is tabbing through items on page) */
	.primary-focus:focus-visible {
		@apply ring-outline rounded-xs ring-2;
	}

	/* main gradient. Used for tags and some headings */
	.main-text-gradient {
		@apply bg-gradient-to-r from-indigo-600 to-sky-600 bg-clip-text text-transparent;
	}

	/* used with select field */
	.sr-only {
		@apply sr-only;
	}

	.rotate-180 {
		@apply rotate-180;
	}
}
